@font-face {
    font-family: 'nulshock';
    src: local('nulshock'),
        url("./nulshock-bd.otf") format('ootf'),
}

/* @font-face {
    font-family: 'CustomFont2Name':
    src: local('CustomFont2Name'),
         url('./fonts/CustomFont2Name.woff') format('woff'),
         url('./fonts/CustomFont2Name.woff2') format('woff2');
} */